/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  
  
  /* Header Section */
  .header {
    background: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
 
  nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: black;
  }
  .navbar a:hover{
    background-color: gray;
    color:white;
    padding: 20px 30px;
    font-size: 20px;
  }
  .navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .buy-now {
    background: #b3ff5c;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  .hero-content{
    padding-right: 30%;
  }
  .hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-left:14%;

  }
  
  .hero-content p {
    margin-bottom: 20px;
    margin-left: 14%;
    
  }
  
  .hero .btn {
    background: #b3ff5c;
    margin-left: 22%;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;

  }
  
  /* Products Section */
  .products {
    padding: 40px 0;
    text-align: center;
    background-color: #F2F4F6;
  }
  .two-part{
    margin-bottom: 10%;
    width: 827px;
    height: 110px;
    padding-left: 30%;
  }
  .product-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap:15px;
    
  }
  
  .product-card {
    margin-bottom:10px;
    width:30%;
    padding: 10px;
    border: 10px solid #ddd;
    border-radius: 20px;
  }
  
  .product-card img {
    border-radius:10px;
    background-color:rgb(244, 242, 242);
    width:240px;
    height:240px;
    
  }
  
  .product-card .btn {
    margin-top: 8px;
    display:inline-block;
    background: #b3ff5c;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    border-radius: 10px;
  }
  
  .product-card .btn.secondary {
    background-image:linear-gradient(tomato,orange);
    border: solid 1px white;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
  
  /* Footer Section */
  .footer {
    height: 300px;
    margin-top: 10%;
    background: #f9f9f9;
    padding: 20px 0;
    text-align: center;
  }
  .footer-nav{
    gap: 60px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-right: 20px;
  }
  .footer-nav a {
    margin:0 10px;
    text-decoration: none;
    color: #333;
  }

  #name{
    margin-top: 2px;
    font-size:40px;
  }
.social-icons ul{
    display:flex;
    justify-content:center;
    gap: 30px;
    margin-bottom: 10px;
}

  .newsletter{
    margin-top: 30px;
  }
  .newsletter input {
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  
  .newsletter button {
    padding: 10px;
    background: #b3ff5c;
    border:none;
    font-weight: bold;
    border-radius: 10px;
    color:black;
    cursor: pointer;
  }

  .footer-nav a:hover{
    background-color: gray;
    color:white;
    padding: 20px 30px;
    font-size: 20px;
  }
  #copy-right{
   text-align: center;
    padding: 10px 0;
    font-size: 14px;
    background-color: #f1f1f1;
    color:#333
    
  }

                     /* Thank You */